:root {
    --color-black-first:#000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    --color-first: #467BC4;
    --color-second: #7144A8;
    --color-third: #FFF;
}

body, h1, h2, h3 {
    margin: 0;
}

body {
    font-family: 'Fira Code', sans-serif;
}