@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

header {
    display: flex;
    justify-content: end; /*Alinha os itens flex na horizontal*/
    align-items: center;
    background-color: #7144A8;
    border-bottom: 10px solid #000;
    padding: 10px 20px 10px 20px;
}

a {
    display: inline-flex;
    align-items: center; /*Alinha os itens flex na vertical*/
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 100ms linear;
}

a::before {
    content: "";
    background-color: #467BC4;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    transform: scale(1.08);
}

.button {
    display: inline-block;
    padding: 18px 20px;
    background-color: #467BC4;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
}

.button:hover {
    transform: scale(1.08);
}