.action {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: var(--color-third);
    text-decoration: none;
    margin-right: 30px;
    transition: transform 100ms linear;
}

.action::before {
    content: "";
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.action:hover {
    transform: scale(1.08);
}
