.button {
    display: inline-block;
    padding: 18px 20px;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0px var(--color-black-first);
    font-size: 20px;
    color: var(--color-third);
    text-decoration: none;
    transition: transform 100ms linear;
}

.button:hover {
    transform: scale(1.08);
}
